.article{
  border-radius:3.5%;
  box-shadow:0px 7px 2.5px -2.5px rgb(187, 186, 186);
  overflow:hidden;
  position: relative
}
#parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 95vh;
  width:86%;
  margin:0 auto;
  
  }
  
  #div1 { 
          grid-area: 1 / 1 / 2 / 13; 
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
  }
  #div2 { grid-area: 8 / 1 / 13 / 4; 
          background-image: linear-gradient(rgb(68,171,201),white)}
  #div3 { grid-area: 8 / 4 / 13 / 7; 
          background-image: linear-gradient(rgb(242,157,163),white)
  }
  #div4 { grid-area: 9 / 7 / 13 / 13; 
          background-image: linear-gradient(to right, rgb(95,185,250),white)
  }
  #div5 { grid-area: 2 / 1 / 4 / 13; }
  #div6 { grid-area: 4 / 7 / 9 / 10;
          background-color:black }
  #div7 { grid-area: 4 / 10 / 9 / 13; 

    background-image: linear-gradient(rgb(204, 164, 132),white)}
  #sand1{
    grid-area: 2 / 2 / 3 / 3;
  }
  #sand2{
    grid-area: 3 / 2 / 4 / 6;
  }
  .bar:hover{
    color:black
  }
  #sand3{
    grid-area: 6 / 2 / 7 / 3;
  }
  
    #div8 { grid-area: 4 / 1 / 8 / 7;
    background-image: linear-gradient(to right, rgb(111,171,167),white) }
  .titles{
    color:white;
    margin-left:10px;
    z-index: 10;
    position:relative
  }
  h5{
    color:white;
    margin-left:10px;
    font-weight: 200
  }
  button{
    position: relative;
        z-index: 100;
    margin-left:10px;
    padding: 8px;
    border-radius:8%;
    background-color:white;
    margin-top:60px;
    display:block;
    margin-bottom: 0px;
    
  }
  .topRight{
    margin-top: 80px
  }
  #pinkButton{
    color:rgb(242,157,163)
  }
  #tanButton{
    color:rgb(204,164,132);
    grid-area: 5 / 2 / 6 / 3;
  }
  #blueButton{
    color:rgb(95,185,250);
    margin-top: 0px;
  }
  #navyButton{
    color:rgb(68,171,201);
    margin-top: 20px

  }
  #greenButton{
    color:rgb(111,171,167)
  }
  #hand{
    height:600px;
    width:300px;
    margin-top:-300px;
  }
  #otherHand{
    margin-top: -50%;
    margin-left: 20%;
    width: 200px;
    height:300px
  }
  h4{
    max-width: 400px;
    color:rgb(77, 76, 76);
    font-weight: 200;
    margin-top: -15px;
    margin-bottom:70px
  }
  b{
    font-weight:bolder
  }
  img{
    z-index: 0;
    position:relative
  }

  @media screen and (max-width: 800px) {
    
    #parent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 10px;
      height:150vh;
      overflow:scroll
      }
      
      #div2 { grid-area: 1 / 1 / 2 / 2; }
      #div3 { grid-area: 2 / 1 / 3 / 2; }
      #div4 { grid-area: 3 / 1 / 4 / 2; }
      #div6 { grid-area: 4 / 1 / 5 / 2; }
      #div7 { grid-area: 5 / 1 / 6 / 2;
 }
      #div8 { grid-area: 6 / 1 / 7 / 2; }
      #div1{
        display:none
      }
      #div5{
        display:none
      }
      img{
        display: none
      }
      button{
        
        display:none
      }
  }
  #bar1 { grid-area: 1 / 3 / 2 / 4; }
#bar2 { grid-area: 1 / 4 / 2 / 5; }
#bar3 { grid-area: 1 / 5 / 2 / 6; }
#bar4 { grid-area: 1 / 6 / 2 / 7; }
#bar5 { grid-area: 1 / 7 / 2 / 8; }
#bar6 { grid-area: 1 / 8 / 2 / 9; }
#bar7 { grid-area: 1 / 9 / 2 / 10;
         }
#bar8 { grid-area: 1 / 10 / 2 / 11; }
#bar9 { grid-area: 1 / 1 / 2 / 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-top: 5px
      }
#bar10 { grid-area: 1 / 11 / 2 / 13; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-top: 5px
      }
.bar{
  color:grey;
  padding:10px 0px
}
.bar:clicked{
  color:black
  
}
#cube{
  height:30px;
  width:30px;
  grid-area: 1 / 2 / 2 / 3;
}

#cup{
  margin-left: 60%;
  margin-top: -55%;
  height:150px;
  width:150px
}
#cornerOne{
  margin-left: 60px;
  margin-top: -40%
}
#apartment{
  margin-left: 60%;
  margin-top: -17%
}
#plant{
  position: absolute;
  margin-top: -70%;
  margin-left: 25%
}
#profilePic{
  height:30px;
  width:30px;
  grid-area: 1 / 2 / 2 / 3;
}
@media screen and (max-height: 700px) {
    
img{
  display:none
}
button{
      display:none
    }
}